name: Playwright Tests
on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 9 * * 5'  # Every Friday at 9 AM UTC
jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
#    - name: Check Week Number
#      id: check_week
#      run: |
#        WEEK=$(date +%V)
#        echo "Current ISO week: $WEEK"
#        # Run only if week is between 13 and 45 inclusive
#        if [ "$WEEK" -ge 13 ] && [ "$WEEK" -le 45 ]; then
#          echo "run_it=true" >> $GITHUB_OUTPUT
#        else
#          echo "Skipping: Week $WEEK is outside the range 13-45"
#          echo "run_it=false" >> $GITHUB_OUTPUT
#        fi
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install chromium --with-deps
    - name: Run Playwright tests
      run: npx playwright test
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
